.sendForm {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
}

.textarea {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
}

.button {
    background-color: #1976d2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover {
    background-color: #135ba1;
}

.button:active {
    background-color: #0d3f77;
}
